.dialog-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.loader-spinner {
    width: 300px;
    height: 300px;
    animation: rotate360 5s linear infinite;
}

dialog {
    position: relative;
}

dialog:focus {
    border: unset;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: unset;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
}

dialog button.dialog-close {
    position: absolute;
    right: 24px;
    top: 0;
    width: 56px;
    height: 56px;
    background-color: var(--accent-color-100);
    background-image: url("../assets/icons/icon-close-white.svg");
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border-radius: 999px;
    border: unset;
    box-shadow: 0 5px 8px var(--primary-color-50);
    z-index: 20;
}

dialog button.dialog-close:hover {
    cursor: pointer;
}

dialog button.pokemon-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url("../assets/icons/icon-arrow-left.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;

    border-radius: 999px;
    border: unset;
    box-shadow: 0 3px 5px var(--primary-color-20);

    transition: all 250ms ease-in-out;

    z-index: 20;
}

dialog button.pokemon-navigation:hover {
    cursor: pointer;
    box-shadow: 0 5px 8px var(--primary-color-20);
    transform: translateY(-50%) scale(1.2);
    transition: all 250ms ease-in-out;
}

dialog button.previous {
    left: 16px;
}

dialog button.next {
    right: 16px;
    background-image: url("../assets/icons/icon-arrow-right.svg");
}

dialog .pokemon-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;

    width: 1200px;
    height: 400px;
    padding: 40px 0; 

    background-color: white;

    border-top-left-radius: 100% 20%;
    border-top-right-radius: 100% 20%;
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;
    border: unset;
}

dialog .pokemon-details section.details-content-2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog .pokemon-details section.details-content-3 {
    width: 280px;
}


dialog .details-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

dialog .details-content-1 .number-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog .details-content-1 .basic-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

dialog .details-content-1 .basic-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;

    padding: 8px;
    background-color: var(--primary-color-10);
    border-radius: 8px;
}

dialog .details-content-1 .basic-info div p {
    font: 900 0.8rem/1.2 "Roboto";
}

dialog .details-content-1 .basic-info div {
    display: flex;
    justify-content: left;
    align-items: center;
}


dialog .details-content-2 > img{
    position: relative;
    filter: saturate(1.4);
    width: 224px;
    height: 224px;
    object-fit: cover;
}

dialog .details-content-2 .evolution-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog .details-content-2 .evolution-chain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog .details-content-2 .evolution-chain .evolution-row {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

dialog .details-content-2 .evolution-chain img {
   width: 56px;
   height: 56px;
}

dialog .details-content-2 .evolution-chain img.arrow {
   width: 16px;
   height: 16px;
}

dialog .details-content-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

dialog #detailNumber {
    font: 900 1.3em/1 "Roboto";
}

dialog #detailName {
    font: 900 2rem/1 "Roboto";
    text-transform: capitalize;
}

dialog #detailTypes {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

dialog #detailTypes p {
    padding: 2px 8px;
    border-radius: 999px;
    text-align: center;
    color: white;
    font: 700 0.8rem/1.2 "Roboto";
}

dialog .abilities ul {
    list-style-position: inside;
}

dialog .description-section {
    background-color: var(--primary-color-5);
    padding: 8px;
    border-radius: 8px;
}

dialog .stats-section {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 16px var(--primary-color-10);
}

dialog .stats-section table {
    width: 100%;
    table-layout: fixed;
}

dialog .stats-section table .name {
    width: 25%;
}

dialog .stats-section table .stat-bar {
    width: 50%;
}

dialog .stats-section table .value {
    width: 12%;
}

dialog .stats-section progress {
    height: 10px;
    display: block;
    width: 100%;
}

dialog .stats-section progress {
    height: 14px;

    appearance: none;
    -webkit-appearance: none;
    
    border: none;
    border-radius: 999px;
    overflow: hidden;
}

dialog .stats-section progress::-webkit-progress-bar {
    background-color: var(--primary-color-10);
    border-radius: 999px;
}

dialog .stats-section progress.stat-hp::-webkit-progress-value{
    background-color: var(--type-fire-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-hp::-moz-progress-bar {
    background-color: var(--type-fire-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-attack::-webkit-progress-value{
    background-color: var(--type-electric-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-attack::-moz-progress-bar {
    background-color: var(--type-electric-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-defense::-webkit-progress-value{
    background-color: var(--type-grass-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-defense::-moz-progress-bar {
    background-color: var(--type-grass-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-special-attack::-webkit-progress-value{
    background-color: var(--type-ice-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-special-attack::-moz-progress-bar {
    background-color: var(--type-ice-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-special-defense::-webkit-progress-value{
    background-color: var(--type-water-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-special-defense::-moz-progress-bar {
    background-color: var(--type-water-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-speed::-webkit-progress-value{
    background-color: var(--type-dragon-100);
    border-radius: 999px;
}

dialog .stats-section progress.stat-speed::-moz-progress-bar {
    background-color: var(--type-dragon-100);
    border-radius: 999px;
}

dialog .stats-section .stat-value {
    font: 800 1rem/1.2 "Roboto";
    text-align: right;
}

@media screen and  (max-width: 1440px) {
    dialog .pokemon-details {
       
        border-top-left-radius: 100% 14%;
        border-top-right-radius: 100% 14%;
        border-bottom-left-radius: 100% 14%;
        border-bottom-right-radius: 100% 14%;
    }

    dialog .pokemon-details {
        flex-wrap: wrap;
        gap: 32px;

        width: 800px;
        height: 600px;
        padding: 40px 70px; 

        background-color: white;
    }

    dialog .pokemon-details section.details-content-3 {
        flex-direction: row;
        width: unset;
    }

    dialog .pokemon-details section.details-content-3 .stats-section {
        width: 280px;
    }

    dialog .description-section {
        width: 280px;
    }
}

@media screen and  (max-width: 992px) {
    dialog .pokemon-details {
        border-top-left-radius: 100% 7%;
        border-top-right-radius: 100% 7%;
        border-bottom-left-radius: 100% 7%;
        border-bottom-right-radius: 100% 7%;
    }

    dialog button.dialog-close {
        right: 16px;
    }

    dialog .pokemon-details {
        flex-direction: column;
        flex-wrap: unset;
        gap: 16px;

        width: 400px;
        height: 900px;
        padding: 40px 70px; 

        background-color: white;
    }

    dialog .pokemon-details section.details-content-3 {
        flex-direction: column;
        align-items: center;
        width: 280px;
    }

    dialog .description-section {
        width: 280px;
    }

    dialog .details-content-2 > img{
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 480px) {
    dialog button.dialog-close {
        right: 8px;
    }

    dialog .pokemon-details {
        justify-content: space-around;
        width: 268px;
        height: auto;
        padding: 40px 8px;

        gap: 8px;
    }

    dialog button.pokemon-navigation {
        top: 42%;
    }

    dialog .details-content-1 {
        gap: 8px;
    }

    dialog .details-content-3 {
        gap: 8px;
    }

    dialog .description-section {
        width: 252px;
    }

    dialog .pokemon-details section.details-content-2 {
        width: 268px;
    }

    dialog .details-content-2 .evolution-chain .evolution-row {
        width: 268px;
    }

    dialog .pokemon-details section.details-content-3 {
        width: 268px;
    }

    dialog .pokemon-details section.details-content-3 .stats-section {
        width: 252px;
    }

    dialog .stats-section table {
        width: 100%;
        table-layout: fixed;
    }

    dialog .stats-section table .name {
        width: 25%;
    }

    dialog .stats-section table .stat-bar {
        width: 50%;
    }

    dialog .stats-section table .value {
        width: 12%;
    }

    dialog .stats-section progress {
        height: 10px;
        display: block;
        width: 100%;
    }

    dialog .details-content-2 > img{
        width: 120px;
        height: 120px;
    }

    dialog .details-content-1 .basic-info div p {
        font: 900 1rem/1.2 "Roboto";
    }

    dialog #detailNumber {
        font: 900 1rem/1.2 "Roboto";
    }

    dialog #detailName {
        font: 900 26px/1.2 "Roboto";
    }

    dialog #detailTypes p {
        font: 700 16px/1.2 "Roboto";
    }

    dialog .stats-section .stat-name {
        font: 400 14px/1.2 "Roboto";
    }

    dialog .stats-section .stat-value {
        font: 800 14px/1.2 "Roboto";
    }

    h3 {
        font: 800 16px/1.2 "Roboto";
    }

    dialog li.ability {
        font: 300 16px/ 1.2 "Roboto";
    }

    dialog p {
        font: 400 16px / 1.2 "Roboto";
    }

    dialog .details-content-2 .evolution-chain img {
        width: 40px;
        height: 40px;
    }
}